// left right padding steps 4vw
//Header 8vh
//Footer 4vh
$phone: 320px;
$tablet: 768px;
$computer: 1440px;

//ANIMATIONS
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomin {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
.page {
  animation: ease-out fadein 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}
.pageHeading {
  animation: ease-out zoomin 0.3s;
  font-size: 1.8em;
}

//GLOBAL
.Main {
  //Centers all the pages
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Header {
  height: 8vh;
  z-index: 10;
  color: white;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 4vw;
  .stage {
    display: flex;
    justify-content: space-between;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Link {
    text-decoration: none;
    color: white;
    margin-left: 1.5vw;
    padding: 0%;
  }
  .Link:hover {
    text-decoration: underline;
    transform: scale(1.05);
  }
  .logo {
    height: 7vh;
    position: relative;
    top: 100%;
  }
  .menu,
  .cross {
    height: 4vh;
    display: none;
  }
}
.Main {
  padding: 2vh 8vw;
  min-height: 84vh;
}
.Footer {
  height: 4vh;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  p {
    margin: 0;
  }
}
.Home {
  .stage {
    display: flex;
    flex-direction: row;
    margin: 5vh;
    width: 100%;
  }
  .leftStage {
    width: 50%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightStage {
    width: 50%;
    // background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gif {
      animation: ease-out zoomin 0.3s;
      width: 100%;
      max-width: 400px;
      border-radius: 35%;
      mask-image: radial-gradient(rgba(0, 0, 0, 1) 64%, rgba(0, 0, 0, 0) 100%);
    }
  }
  #fixedSpace {
    //fixing a space for the text animation
    line-height: 1.5em;
    min-height: 7.5em;
  }
}
.About {
  .PDF {
    height: 80vh;
    width: 80vw;
    max-width: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}
.Cards {
  width: 80vw;
  max-width: inherit;
  hr {
    width: 100%;
  }
  a {
    color: inherit;
  }
  .cardWrap {
    margin: 20px;
  }
  .card {
    // background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;

    .cardLeft {
      // background-color: green;
      width: 80%;
    }
    .cardRight {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // background-color: blue;
      img {
        max-height: 200px;
        height: 4.5em;
      }
    }
  }
}

//LESS THAN PHONE
@media (max-width: $phone) {
  body {
    font-size: 0.8em;
  }
}

//PHONE
@media (max-width: $tablet) {
  body {
    font-size: 1em;
  }
  .Header {
    .menu {
      display: block;
    }
    .cross,
    .Links {
      display: none;
    }
  }
  .Home {
    #animateText {
      font-size: 0.95em;
    }
    .rightStage {
      display: none;
    }
    .leftStage {
      width: 100%;
    }
  }
  .About {
    .PDF {
      height: 60vh;
    }
  }
}

//TABLET
@media (max-width: $computer) {
  body {
    font-size: 1.1em;
  }
}

//COMPUTER
@media (min-width: $computer) {
  body {
    font-size: 1.2em;
  }
}
