main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .animate {
  width: 1000px;
  height: 500px;
  background-color: var(--misty-moss);
  display: flex;
  position: relative;
  border-radius: 10px;
}

.man {
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.ball {
  height: 150px;
  position: absolute;
  bottom: 152px;
  left: 95px;
}

.basket {
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 00px;
}

button {
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  width: fit-content;
  border: none;
  background-color: var(--english-violet);
  border-radius: 50px;
}

button:hover {
  cursor: grab;
}
